<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sandbox Manager</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <style>
        .card-body .badge {
            cursor: pointer;
        }
    </style>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script type="application/javascript">
        const second = 1000
        const minute = second * 60

        let modalForm = null

        function getModal() {
            if (modalForm == null) {
                modalForm = new bootstrap.Modal(document.getElementById("modal-form"), {})
            }
            return modalForm
        }

        function openModal(scope, suggestedCommand) {
            const modalScope = document.getElementById("modal-scope")
            modalScope.value = scope

            const modalCommand = document.getElementById("modal-command")
            modalCommand.value = suggestedCommand

            getModal().show()
        }

        function cancel() {
            getModal().hide()
        }

        function nextInterval(loadedAt, finishAt, elementName) {
            calculateTimeRemaining(loadedAt, finishAt, elementName)

            if (loadedAt > finishAt) {
                return
            }

            setTimeout(() => {
                nextInterval(loadedAt + second, finishAt, elementName)
            }, second)
        }

        function calculateTimeRemaining(startTime, endTime, elementName) {
            let timeRemaining = endTime - startTime
            if (timeRemaining < 0) {
                timeRemaining = 0
            }
            const remainingMinutes = Math.floor(timeRemaining / minute)
            const remainingSeconds = `${Math.floor((timeRemaining % minute) / second)}`.padStart(2, "0")

            document.getElementById(elementName).innerText = `Finish in ${remainingMinutes}:${remainingSeconds}`
        }
    </script>
</head>
<body>
    <div class="container mt-2">
        <div class="row">
            {{range .}}
            <div class="col-md-4 col-sm-6">
                <div class="card text-dark bg-light mb-3">
                    <div class="card-header">
<!--                        <form action="/status/command">-->
                            <h5 class="card-title">
                                {{ .Name }}
<!--                                    <input type="hidden" name="command" value="remove">-->
<!--                                    <input type="hidden" name="scope" value="{{.Name}}">-->
<!--                                    <input type="hidden" name="user_id" value="0">-->
<!--                                    <button class="btn btn-sm float-end">-->
<!--                                        <img src="https://www.svgrepo.com/download/124212/remove.svg" alt="remove" width="18px">-->
<!--                                    </button>-->
                            </h5>
<!--                        </form>-->

                    </div>
                    <div class="card-body">
                        {{ if eq .Status "Locked" }}
                            <span class="badge text-dark bg-warning" onclick="openModal('{{.Name}}', 'unlock')">{{ .Status }}</span>
                            {{ if .LockedBy }}
                                by {{ .LockedBy }}
                            {{ end }}
                            <span class="text-dark blockquote-footer" id="timer-{{ .Name }}"></span>
                            <script type="application/javascript">
                                nextInterval(
                                    Date.parse("{{ .LoadedAt }}"),
                                    Date.parse("{{ .FinishAt }}"),
                                    "timer-{{ .Name }}"
                                )
                            </script>
                        {{ else }}
                            <span class="badge bg-primary" onclick="openModal('{{.Name}}', 'lock')">{{ .Status }}</span>
                        {{ end }}
                    </div>
                </div>
            </div>
            {{end}}
        </div>

        <form action="/status/command">
            <input type="hidden" name="scope" id="modal-scope" value="">

            <div class="modal fade" id="modal-form">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-body">
                            <div class="form-floating mb-3">
                                <select name="command" id="modal-command" class="form-select">
                                    <option value="lock" selected>Lock</option>
                                    <option value="unlock">Unlock</option>
                                </select>
                                <label for="modal-command" class="form-label">Command</label>
                            </div>
                            <div class="form-floating mb-3">
                                <input type="text" name="user_id" id="user_id" value="" class="form-control">
                                <label for="user_id" class="form-label">Who</label>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-primary">Save</button>
                            <button class="btn btn-outline-secondary" onclick="cancel(); return false">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</body>
</html>